# Node and build artifacts
node_modules/
dist/

# Sensitive files
.env
.env.*
*.pem
*.key

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor specific directories and files
.idea/
.astro/
.codesandbox/
.bolt/
.vscode/


# Infrastructure (exclude unless intentional)
infrastructure/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Astro build cache or temporary files (if any specific to Astro)
.cache/

